@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .hero_body {
        gap: 20px;
        padding-bottom: 50px;
    }

    .hero_card_body {
        margin-top: 20px;
        gap: 35px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    /* ============ header section end =============== */
    /* ============ popular section start =============== */
    .tab_content_box {
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .see_all_bnt_div {
        margin-top: 40px;
    }

    /* ============ popular section end =============== */

    /* ============ futura section start =============== */
    .futura_container {
        padding: 30px 15px;
    }

    .futura_heading {
        font-size: 50px;
        line-height: 60.4px;
        margin-bottom: 20px;
    }

    .futura_left_bottom {
        margin-top: 50px;
        width: 90%;
        gap: 80px;
    }

    .futura_badge {
        width: 40%;
    }

    /* ============ futura section end =============== */

    /* ============ contact section start =============== */
    .contact_container {
        padding: 70px 15px;
    }

    /* ============ contact section end =============== */
}










@media (min-width: 481px) and (max-width: 768.9px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .header_container {
        padding-top: 10;
    }

    .hero_header {
        margin-top: 17px;
        gap: 20px;
    }

    .hero_heading {
        font-size: 45px;
    }

    .hero_body {
        gap: 30px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    .hero_card_images {
        height: 100%;
        object-fit: cover;
    }

    .hero_card_body {
        gap: 10px;
    }

    .hero_badge {
        position: absolute;
        top: 5px;
        left: 24%;
        width: 50%;
    }

    /* ============ header section end =============== */

    /* ============ popular section start =============== */
    .tab_content_box {
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .see_all_bnt_div {
        margin-top: 30px;
    }

    /* ============ popular section end =============== */

    /* ============ futura section start =============== */
    .futura_container {
        flex-direction: column;
        padding: 20px 0;
        align-items: center;
    }

    .futura_heading {
        line-height: 60.4px;
        margin-bottom: 14px;
    }

    .futura_left_bottom {
        margin-top: 40px;
    }

    .futura_right {
        margin-top: 50px;
    }

    .futura_badge {
        top: -30px;
    }

    /* ============ futura section end =============== */

    /* ============ choose section start =============== */
    .choose_header {
        font-size: 44px;
        margin-bottom: 45px;
    }

    #choose_section {
        padding: 70px 0;
    }

    /* ============ choose section end =============== */

    /* ============ contact section start =============== */
    .contact_container {
        padding: 120px 15px;
    }

    /* ============ contact section end =============== */
}












@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .header_container {
        padding-top: 0;
    }

    .hamburger_img {
        width: 55px;
        height: 40px;
    }

    .nav_end {
        display: none;
    }

    .hero_header {
        margin-top: 30px;
        gap: 12px;
    }

    .hero_heading {
        font-size: 21px;
    }

    .hero_para {
        font-size: 12px;
    }

    .hero_body {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    .hero_mid_card {
        max-width: 269px;
        width: 100%;
    }

    .hero_card_title {
        font-size: 18px;
    }

    .hero_badge {
        position: absolute;
        top: 5px;
        left: 24%;
        width: 50%;
    }

    /* ============ header section end =============== */

    /* ============ popular section start =============== */
    .popular_heading {
        font-size: 31px;
    }

    .popular_body {
        margin-top: 20px;
    }

    .tab_content {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .see_all_bnt_div {
        margin-top: 20px;
    }

    /* ============ popular section end =============== */

    /* ============ futura section start =============== */
    .futura_container {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .futura_heading {
        margin-top: 20px;
        font-size: 35px;
        line-height: 45.4px;
    }

    .futura_left_bottom {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .futura_bottom_heading {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .futura_bottom_info {
        font-size: 35px;
    }

    .futura_right {
        margin-top: 25px;
    }

    .futura_badge {
        top: 30px;
        left: 84px;
    }

    /* ============ futura section end =============== */

    /* ============ choose section start =============== */
    #choose_section {
        padding: 50px 0;
    }

    .choose_header {
        font-size: 35px;
        line-height: 18px;
        margin-bottom: 65px;
    }

    .choose_body {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .choose_card_img {
        width: 50px;
        height: 50px;
    }

    .choose_card_body {
        margin-top: 10px;
    }

    .choose_card_desc {
        padding: 0 18px;
    }

    /* ============ choose section end =============== */

    /* ============ contact section start =============== */
    #contact_section {
        padding: 0px;
    }

    .contact_container {
        padding: 70px 15px;
    }

    .contact_heading {
        font-size: 33px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    /* ============ contact section end =============== */


    /* ============ footer section start =============== */
    .footer_top {
        flex-direction: column;
        gap: 50px;
    }

    .footer_top_desc {
        margin-bottom: 20px;
    }

    .footer_top_center {
        gap: 80px;
    }

    .footer_heading {
        padding-right: 5%;
    }

    .footer_bottom {
        flex-direction: column;
    }

    .privacy_div {
        margin-top: 20px;
        gap: 30px;
    }

    /* ============ footer section end =============== */
}