@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .hero_body {
        gap: 20px;
        padding-bottom: 50px;
    }

    .hero_card_body {
        margin-top: 20px;
        gap: 35px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    /* ============ header section end =============== */
    /* ============ popular section start =============== */
    .tab_content_box {
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
    .see_all_bnt_div {
        margin-top: 40px;
    }
    /* ============ popular section end =============== */
}










@media (min-width: 481px) and (max-width: 768.9px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .header_container {
        padding-top: 10;
    }

    .hero_header {
        margin-top: 17px;
        gap: 20px;
    }

    .hero_heading {
        font-size: 45px;
    }

    .hero_body {
        gap: 30px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    .hero_card_images {
        height: 100%;
        object-fit: cover;
    }

    .hero_card_body {
        gap: 10px;
    }

    /* ============ header section end =============== */

    /* ============ popular section start =============== */
    .tab_content_box {
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .see_all_bnt_div {
        margin-top: 30px;
    }

    /* ============ popular section end =============== */
}












@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    /* ============ header section start =============== */
    .header_container {
        padding-top: 0;
    }

    .hamburger_img {
        width: 55px;
        height: 40px;
    }

    .nav_end {
        display: none;
    }

    .hero_header {
        margin-top: 15px;
        gap: 12px;
    }

    .hero_heading {
        font-size: 21px;
    }

    .hero_para {
        font-size: 12px;
    }

    .hero_body {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero__img_card_parent {
        margin-top: 0px;
    }

    .hero_mid_card {
        max-width: 269px;
        width: 100%;
    }

    .hero_card_title {
        font-size: 18px;
    }

    /* ============ header section end =============== */

    /* ============ popular section start =============== */
    .popular_heading {
        font-size: 31px;
    }

    .popular_body {
        margin-top: 20px;
    }

    .tab_content_box {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .see_all_bnt_div {
        margin-top: 20px;
    }

    /* ============ popular section end =============== */
}