@import url('https://fonts.cdnfonts.com/css/roslindale');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* =========== common styling starts here ================ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}

:root {
    --primary-color: #00494A;
    --secondary-color: #6D7373;
}

.font_roslindale {
    font-family: 'Roslindale', sans-serif;
}

.font_inter {
    font-family: "Inter", serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
}

.font_bold {
    font-weight: 700;
}

.text-lg {
    font-size: 18px;
}



/* =========== common styling ends here ================ */


/* =========== header section starts here ================ */
#header_section {
    height: auto;
    position: relative;
    background-color: #FAFAFA;
    /* z-index: -2; */
}

.hero_svg_animation {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
    animation: bounce 7s linear infinite;
}

/* animation of hero section */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* animation of hero section */
.header_container {
    padding-top: 24px;
    position: relative;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav_end {
    gap: 24px;
}

.hero_header {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.hero_heading {
    font-size: 64px;
    color: #303635;
    max-width: 850px;
    margin: 0 auto;
}

.hero_para {
    max-width: 440px;
    color: var(--secondary-color);
    margin: 0 auto;
}

.hero_body {
    margin-top: 52px;
    justify-content: space-between;
}

.hero_small_card {
    max-width: 269px;
}

.hero_mid_card {
    max-width: 600px;
}

.hero_card_images {
    width: 100%;
}

.hero_card_body {
    margin-top: 20px;
    gap: 120px;
}

.hero_card_title {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #303635;
}

.hero_card_2 {
    font-size: 24px;
}

.hero__img_card_parent {
    margin-top: 135px;
}

.hero__img_card_parent {
    position: relative;
}

.hero_badge {
    position: absolute;
    top: -98px;
    left: 33%;
}

/* =========== header section ends here ================ */

/* =========== marquee section starts here ================ */
#marquee_section {
    padding: 24px 0;
    border-bottom: 1px solid #6D7373;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logos-slide {
    display: flex;
    gap: 20px;
    animation: slide 10s linear infinite;
    width: max-content;
}

.marquee_item {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 22px;
    color: var(--secondary-color);
}

/* =========== Animation for Endless Scrolling ================ */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* =========== animation of marquee section ends here ================ */


/* =========== popular section starts here ================ */
#popular_section {
    margin-top: 143px;
}

.popular_header {
    display: flex;
    justify-content: center;
}


.popular_heading {
    font-size: 48px;
    line-height: 62.4px;
    color: #303635;
}

.popular_body {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_tab_box {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #CFCFCF;
    gap: 44.33px;
    position: relative;
}

.tab_btn {
    font-size: 18px;
    color: #414141;
    background: none;
    border: none;
    padding-bottom: 10px;
}

.popular_tab_box .active {
    color: var(--primary-color);
}

.popular_tab_box .line {
    position: absolute;
    top: 30px;
    left: 0;
    width: 40px;
    height: 4px;
    border-radius: 35px;
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.tab_content {
    margin-top: 48px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    animation: moving .5s ease;
}

@keyframes moving {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tab_content.active {
    display: grid;
}

.tab_card_body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 14px;
}

.tab_card_price {
    font-size: 20px;
    font-style: normal;
    color: var(--secondary-color);
}

.see_all_bnt_div {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.see_all_bnt,
.see_all_bnt_arrow {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
}

/* =========== popular section ends here ================ */


/* =========== futura section starts here ================ */
#futura_section {
    height: auto;
    margin-top: 144px;
    position: relative;
    background-color: var(--primary-color);
    /* z-index: -2; */
}

.futura_svg_animation {
    position: absolute;
    top: 165px;
    width: 100%;
    z-index: 1;
    animation: bounce 7s linear infinite;
}



.futura_container {
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 2;
}

.futura_left {
    max-width: 638px;
    /* width: auto; */
}

.futura_heading {
    font-size: 56px;
    font-weight: bold;
    line-height: 78.4px;
    margin-bottom: 32px;
    color: white;
}

.futura_desc {
    color: #F7F8F7;
    font-size: 20px;
    line-height: 32px;
    padding-right: 15%;
    margin-bottom: 24px;
}

.futura_btn {
    font-size: 18px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.futura_btn:hover {
    background: rgba(0, 0, 0, 0.3);
    padding: 2px 5px 2px 15px;
    border-radius: 5px;
}

.futura_left_bottom {
    margin-top: 81px;
    height: auto;
    width: 100%;
    position: relative;
    padding: 40px 56px;
    color: var(--primary-color);
    display: flex;
    gap: 117px;
}

.futura_left_bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/counter_bg.png');
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.futura_bottom_element {
    position: relative;
    z-index: 1;
}

.futura_bottom_heading {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 26px;
}

.futura_bottom_info {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.futura_right {
    position: relative;
}

.futura_img {
    width: 100%;
}

.futura_badge {
    position: absolute;
    top: -100px;
    right: 0;
}

/* =========== futura section ends here ================ */


/* =========== choose section starts here ================ */
#choose_section {
    padding: 120px 0;
    background-color: #FAFAFA;
}

.choose_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    line-height: 62px;
    font-weight: 500;
    margin-bottom: 88px;
}

.choose_body {
    display: flex;
    justify-content: space-between;
}

.choose_card {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.choose_card_img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

.choose_card_body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.choose_card_heading {
    font-size: 24px;
    color: #303635;
}

.choose_card_desc {
    padding: 0 30px;
    color: #495050;
}

/* =========== choose section ends here ================ */

/* =========== contact section starts here ================ */
#contact_section {
    padding: 109px 0 104px;
    position: relative;
}

.contact_container {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 99px 0 98px;
    background-color: var(--primary-color);
}

.contact_bg_svg {
    width: 100%;
    position: absolute;
    top: 370px;
    animation: bounce 7s linear infinite;
}

.rotate_1 {
    position: absolute;
    top: 190px;
    left: 107px;
}

.rotate_2 {
    position: absolute;
    top: 265px;
    left: 80px;
}

.contact_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact_heading {
    max-width: 734px;
    margin: 0 auto 56px;
    text-align: center;
}

.contact_heading {
    font-size: 56px;
    line-height: 72px;
    margin-bottom: 32px;
}

.contact_desc {
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    font-weight: 300;
}

.contact_btn_container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact_call_btn {
    padding: 12px 16px 12px 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    cursor: pointer;
}

.contact_see_btn {
    padding: 12px 16px 12px 24px;
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid white;
    color: white;
    gap: 10px;
    cursor: pointer;
}

/* =========== contact section ends here ================ */

/* =========== footer section start here ================ */
#footer_section {
    background-color: #FAFAFA;
    padding: 64px 0 34px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.footer_top_start {
    max-width: 363px;
}

.footer_logo_img {
    width: 111px;
    height: 40px;
    margin-bottom: 30px;
}

.footer_top_desc {
    font-size: 18px;
    color: #5A5E5E;
    line-height: 28px;
    margin-bottom: 52px;
    padding-right: 10%;
}

.footer_img_container {
    display: flex;
    gap: 23px;
}

.footer_top_center {
    display: flex;
    gap: 128px;
}

.footer_link_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_links {
    font-family: "Inter", serif;
    text-decoration: none;
    list-style: none;
    color: #495050;
    font-size: 18px;
}

.footer_top_end {
    max-width: 318px;
}

.footer_heading {
    font-size: 32px;
    line-height: 46px;
    color: #303635;
    padding-right: 15%;
    margin-bottom: 40px;
}


.footer_contact_btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.horizontal_line {
    border: 1px solid #9C9E9E;
}

.footer_bottom {
    margin-top: 20px;
    color: #5A5E5E;
    display: flex;
    justify-content: space-between;
}

.privacy_div {
    display: flex;
    gap: 76px;
}

/* =========== footer section ends here ================ */


.rotate_360,
.rotate_360_N {
    animation: spin 8s linear infinite;
}

.rotate_360_N {
    animation-direction: reverse;
}

/* =========== animation ============== */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}