@import url('https://fonts.cdnfonts.com/css/roslindale');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* =========== common styling starts here ================ */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}

:root {
    --primary-color: #00494A;
    --secondary-color: #6D7373;
}

.font_roslindale {
    font-family: 'Roslindale', sans-serif;
}

.font_inter {
    font-family: "Inter", serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
}

.font_bold {
    font-weight: 700;
}

.text-lg {
    font-size: 18px;
}



/* =========== common styling ends here ================ */


/* =========== header section starts here ================ */
#header_section {
    height: auto;
    position: relative;
}

#header_section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Hero.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header_container {
    padding-top: 24px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav_end {
    gap: 24px;
}

.hero_header {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.hero_heading {
    font-size: 64px;
    color: #303635;
    max-width: 850px;
    margin: 0 auto;
}

.hero_para {
    max-width: 440px;
    color: var(--secondary-color);
    margin: 0 auto;
}

.hero_body {
    margin-top: 52px;
    justify-content: space-between;
}

.hero_small_card {
    max-width: 269px;
}

.hero_mid_card {
    max-width: 600px;
}

.hero_card_images {
    width: 100%;
}

.hero_card_body {
    margin-top: 20px;
    gap: 120px;
}

.hero_card_title {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #303635;
}

.hero_card_2 {
    font-size: 24px;
}

.hero__img_card_parent {
    margin-top: 135px;
}

/* =========== header section ends here ================ */

/* =========== marquee section starts here ================ */
#marquee_section {
    padding: 24px 0;
    border-bottom: 1px solid #6D7373;
}

.marquee_parent {
    display: flex;
    gap: 24px;
}

.marquee_item {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 22px;
    color: var(--secondary-color);
}

/* =========== marquee section ends here ================ */


/* =========== popular section starts here ================ */
#popular_section {
    margin-top: 143px;
}

.popular_header {
    display: flex;
    justify-content: center;
}


.popular_heading {
    font-size: 48px;
    line-height: 62.4px;
    color: #303635;
}

.popular_body {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_tab_box {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #CFCFCF;
    gap: 44.33px;
    position: relative;
}

.tab_btn {
    font-size: 18px;
    color: #414141;
    background: none;
    border: none;
    padding-bottom: 10px;
}

.popular_tab_box .active {
    color: var(--primary-color);
}

.popular_tab_box .line {
    position: absolute;
    top: 30px;
    left: 0;
    width: 40px;
    height: 4px;
    border-radius: 35px;
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.tab_content_box {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.tab_card_body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 14px;
}

.tab_card_price {
    font-size: 20px;
    font-style: normal;
    color: var(--secondary-color);
}

.see_all_bnt_div {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.see_all_bnt,
.see_all_bnt_arrow {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
}

/* =========== popular section ends here ================ */


/* =========== futura section starts here ================ */
#futura_section {
    height: auto;
    margin-top: 144px;
    position: relative;
}

#futura_section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/futura_design_bg.png');
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

.futura_container {
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.futura_left {
    max-width: 638px;
    /* width: auto; */
}

.futura_heading {
    font-size: 56px;
    font-weight: bold;
    line-height: 78.4px;
    margin-bottom: 32px;
    color: white;
}

.futura_desc {
    color: #F7F8F7;
    font-size: 20px;
    line-height: 32px;
    padding-right: 15%;
    margin-bottom: 24px;
}

.futura_btn {
    font-size: 18px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.futura_btn:hover {
    background: rgba(0, 0, 0, 0.3);
    padding: 2px 5px 2px 15px;
    border-radius: 5px;
}

.futura_left_bottom {
    margin-top: 81px;
    height: auto;
    width: 100%;
    position: relative;
    padding: 40px 56px;
    color: var(--primary-color);
    display: flex;
    gap: 117px;
}

.futura_left_bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/counter_bg.png');
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.futura_bottom_element {
    position: relative;
    z-index: 1;
}

.futura_bottom_heading {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 26px;
}

.futura_bottom_info {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.futura_right {
    position: relative;
}

.futura_img {
    width: 100%;
}

.futura_badge {
    position: absolute;
    top: -100px;
    right: 0;
}

/* =========== futura section ends here ================ */


/* =========== choose section starts here ================ */
#choose_section {
    padding: 120px 0;
    background-color: #FAFAFA;
}

.choose_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    line-height: 62px;
    font-weight: 500;
    margin-bottom: 88px;
}

.choose_body {
    display: flex;
    justify-content: space-between;
}

.choose_card {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.choose_card_img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

.choose_card_body {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.choose_card_heading {
    font-size: 24px;
    color: #303635;
}

.choose_card_desc {
    padding: 0 30px;
    color: #495050;
}

/* =========== choose section ends here ================ */